{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
  Welcome {{ user.email }}!
  <br><br>
  {% if groups %}
    Groups:
    {% for group in groups %}
      {{ group }}
    {% endfor %}  
    <br><br>
    <p>Links:</p>
    {% for permission in permissions %}
        <a href="#"> {{ permission }}</a>
        <br>
    {% endfor %} 
  {% else %}
    You are not an admin, please contact an administrator for help.
  {% endif %}
{% else %}
  <p>You are not logged in</p>
{% endif %}

{% endblock content %}